<h1>회 원 목 록</h1>
<h1><%=@email%> 님 환영합니다.</h1>
<p>아무개 / 12312124</p>

<p>아무개 / 12312124</p>

<p>아무개 / 12312124</p>

<p>아무개 / 12312124</p>

<p>아무개 / 12312124</p>

<p>아무개 / 12312124</p>

<a href ="user/new">회 원 가 입</a>
<a href ="user/login">로 그 인</a>